pre.hljs {
    font-family: Consolas, Source Code Pro, DejaVu Sans Mono, Ubuntu Mono, Anonymous Pro, Droid Sans Mono, Menlo, Monaco, Inconsolata, Courier, monospace, PingFang SC, Microsoft YaHei, sans-serif;
}

pre.hljs {
    position: relative;
    padding-left: 44px;
    line-height: 22px;
    font-size: 16px;
}

pre ul.hljs-line-num {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    font-size: 16px;
    line-height: 22px;
    padding: 1em 4px 0 0;
    margin: 0;
    border-right: 1px solid #c3ccd0;
    text-align: right;
    list-style: none;
    box-sizing: border-box;
}

pre ul.hljs-line-num li {
    margin: 0;
    padding: 0;
}

.code-perfect-clipboard-container {
    position: relative;
}

.code-perfect-clipboard-button {
    position: absolute;
    display: none;
    top: 4px;
    right: 4px;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    background-color: #9999AA;
    width: 58px;
    text-align: center;
    padding: 2px 0;
    z-index: 20;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.code-perfect-clipboard-container:hover .code-perfect-clipboard-button {
    display: block;
}

.code-perfect-clipboard-button.copied .code-perfect-clipboard-copied {
    display: inline-block;
}

.code-perfect-clipboard-button.copied .code-perfect-clipboard-copy {
    display: none;
}

.code-perfect-clipboard-button .code-perfect-clipboard-copied {
    display: none;
}

.code-perfect-clipboard-button .code-perfect-clipboard-copy {
    display: inline-block;
}